

.container{
    background:WhiteSmoke; 
    padding: 2% 2% 2% 2%;
    width: 40%;
    float: auto;
    margin-top: 5%;
    height: 40%;
    float: auto;

    
  
    border: none;
    background: linear-gradient(to right,#F5F5F5, #C0C0C0);
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;
}


input{
  
 
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 50%;
   text-align: center;
    border-radius: 5px;
    margin-top:1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button a{
    
   color: white;
}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: DodgerBlue;
 
    border: 2px solid gray;
    border-radius: 25px;
    margin-top:15%;
    margin-bottom: 3%;
    font-size: 20px;
    font-weight: bold;
    
   border: none;
   
   text-align: center;
 

   color: white;

}
h3{
    text-align: center;
    margin-bottom:3%;
    color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px;
}
.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
 }
#select-div{
    width:100%;
    text-align: center;
    margin-top: 10px;
}
 .custom-select{
    border-radius: 5px;
     width: 50%;
     text-align-last:center;
     
 }