  <ol>
    <mat-form-field>
      <input matInput  placeholder="שם התורם">
    </mat-form-field>
    <br>
    <!-- <mat-radio-group>
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
     -->


    <mat-form-field>
      <input matInput  placeholder="תז של התורם">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput  placeholder="מספר נייד">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput  placeholder="מספר נוסף">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput  placeholder="תאריך לידה">
    </mat-form-field>
    <br>
    <button mat-raised-button>שמור</button>
    

  </ol>