th,td{
    text-align: center;
} 
#cont{
    border-style:solid;
    border-radius: 7px;  
    border-color: gray;
    height:40vh;
    overflow-y: scroll; 
 }
 #cont1{
    border-style:solid;
    border-radius: 7px;  
    border-color: gray;
    overflow-y: scroll; 
 }
.radiolabel{
    float: right;
    margin-left: 3%;
} 
.table-responsive
{
    overflow-x: auto;
}

 