<form #f="ngForm">
    <div class="container">
        <div class="col-xs-12 text-center h2 btn-primary">הוספת משתמש</div>
        <hr>
        <label for="fName"><b> שם מלא </b></label>
        <input class="inp" type="text" placeholder="הזן שם מלא"  name="name" [(ngModel)]="name" required>
        <br>
        <label for="E-mail"><b>אי-מייל</b></label>
        <input class="inp" type="text" placeholder="הזן אי-מייל" name="email" [(ngModel)]="email" >
        
            <label for="phones"><b>תלפון נייד </b></label>
            <input class="inp" type="tel" placeholder="הזן טלפון נייד" name="Tel" [(ngModel)]="tel" required>
       
        <label for="username"><b> שם משתמש</b></label>
        <input class="inp" type="text" placeholder=" הזן שם משתמש" name="username" [(ngModel)]="username"  required>
        <label for="password"><b>סיסמה</b></label>
        <input class="inp" type="password" placeholder=" הזן סיסמה "name="password" [(ngModel)]="password" required>
        <label for="password1"><b>אימות סיסמה</b></label>
        <input class="inp" type="password" placeholder="הזן סיסמה שוב"name="password" [(ngModel)]="password2" required>
        <form>
            <div>
            <label class="radiolabel" for="volpermission"><b> הרשאה למתדבים  </b></label>
            <div class="inpudiv"> 
                <input class="radioinp" type="radio" name="name1"  value="כן" #Vper required> כן 
                <input class="radioinp" type="radio" name="name1" value="לא" required> לא 
            </div>
            <br>
            <br>
            <label class="radiolabel" for="volpermission"><b> הרשאה לתורמים  </b></label>
            <div class="inpudiv"> 
                <input class="radioinp" type="radio" name="name2"  value="כן" #Dper required> כן 
                <input class="radioinp" type="radio" name="name2" value="לא" required> לא 
            </div>
            <br>
            <br>
            <label class="radiolabel" for="volpermission"><b> הרשאה למאומצים  </b></label>
            <div class="inpudiv"> 
                <input class="radioinp" type="radio" name="name3"  value="כן" #Aper required> כן 
                <input class="radioinp" type="radio" name="name3" value="לא" required> לא 
            </div>
            <br>
            <br>
            </div>
            <br> 
            <br>
        </form>
        <div class="clearfix">
            <button type="button" class="btn btn-primary"
            [disabled]="!f.valid"
            (click)="onSumbit(Vper.checked,Dper.checked,Aper.checked)">שמור </button>
            <button type="reset" 
            class="btn btn-warning">איפוס
            </button>
            <button type="button" 
            class="btn btn-danger" 
            (click)="onBack()">חזור
            </button>
        </div>
    </div>
</form>