<div class="container">
  <div class="row">
    <div class="col-xs-5 pull-left" style="border-style: solid; text-align: center; background-color: #504e50;">
      <h1>{{OldEvents}} אירועים ישנים</h1>
      <br>
      <hr>
      <span>
        <a (click)=View(old.id) id="OldEvents" #old data-toggle="modal" data-target="#events">
          <h2>ראה פרטים</h2>
        </a>
      </span>
    </div>
    <div class="col-xs-5 pull-right" style="border-style: solid; text-align: center; background-color: #a89fa8;">
      <h1>{{EventsInProgress}} אירועים בתהליך</h1>
      <br>
      <hr>
      <span>
        <a (click)=View(InProgress.id) id="EventsInProgress" #InProgress data-toggle="modal" data-target="#events">
          <h2>ראה פרטים</h2>
        </a>
      </span>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-5 pull-left" style="border-style: solid; text-align: center; background-color: #777277;">
      <h1>{{DeletedEvents}} אירועים שנמחקו</h1>
      <br>
      <hr>
      <span>
        <a (click)=View(deleted.id) id="DeletedEvents" #deleted data-toggle="modal" data-target="#events">
          <h2>ראה פרטים</h2>
        </a>
      </span>
    </div>
    <div class="col-xs-5 pull-right" style="border-style: solid; text-align: center; background-color: #8f8e8f;">
      <h1>{{CommingEvents}} אירועים קרובים</h1>
      <br>
      <hr>
      <span>
        <a (click)=View(comming.id) id="CommingEvents" #comming data-toggle="modal" data-target="#events">
            <h2>ראה פרטים</h2>
        </a>
      </span>
    </div>
  </div>
</div>



<app-events-list id="events"></app-events-list>

<app-donor></app-donor>