
#old{
    background-color:rgb(206, 134, 190); 
}
#in{
    background-color: rgb(235, 183, 224); 
}
#del{
    background-color: rgb(143, 64, 126); 
}
#com
{
    background-color: rgb(160, 83, 143); 
}
#dash{
    background-color: rgb(196, 164, 189); 
}