

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col xs 12" id="dash">
        <h3>Dashboard / My Dashboard</h3>
      </div>
      <div class="container">
          <div class="container">
      <div class="row">
        <div class="col-xs-5 pull-left"  id="old">
            <h3>{{OldEvents}} אירועים ישנים</h3>
            <br>
            <hr>
            <a class="container" href="#"><ul> ראה פרטים</ul> </a>
          </div>
        <div class="col-xs-5 pull-right" id="in">
              <h3>{{EventsInProgress}} אירועים בתהליך</h3>
              <br>
              <hr>
              <button class="btn btn-danger">ראה פרטים</button>
          </div>
      </div>
      <br>
      <br>
      <div class="row">
          <div class="col-xs-5 pull-left"  id="del">
              <h3>{{DeletedEvents}} אירועים שנמחקו</h3>
              <br>
              <hr>
              <button class="btn btn-danger">ראה פרטים</button>
          </div>
          <div class="col-xs-5 pull-right" id="com">
                <h3>{{CommingEvents}} אירועים קרובים</h3>
                <br>
                <hr>
                <button class="btn">ראה פרטים</button>
            </div>
        </div>
    </div>
  </div>
</div>
  </div>
</div>